#welcome_page {
    .hero-part {
        .hero-img {
            height: 50vh;
            width: 100%;
            background-image: url("../imgs/hero-img.jpg");
            background-position: center;
            background-size: cover;

            .inner-text {
                width: clamp(40%, 2vw, 100%);
                background-color: rgba(0,0,0,0.3);
                width: 100%;
                height: 50vh;
                display: flex;
                padding: 2em 5em;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                h4 {
                    font-size: 50px;
                    color: $white-color;
                    margin-bottom: 1em;
                    width: 50%;
                }

                .learn-more-btn {
                    background-color: $primary-color;
                    color: $light-color;
                    padding: 15px 25px;
                    font-size: 16px;
                    text-decoration: none;
                    outline: none;
                    border-radius: 8px;
                    font-weight: 600;
                }
            }
        }

        .text-part {
            padding: 40px 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40vh;
            background-color: #E7F0DC;


            h2 {
                font-size: clamp(35px, 2.5vw, 50px);
                font-weight: 400;
                margin: 0;
                color: $primary-color;

                span {
                    font-weight: 800;
                }
            }

            p {
                font-size: 20px;
                color: $primary-color;
            }
        }
    }

    .service-list {
        padding: 4em 6em;
    }
}